h3 {
    color: #626262;
    font-size: 1.5rem;
}

h4 {
    color: #b4ad9e;
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
}

.like {
    padding: 40px 0;
}

.like h4, .first {
    margin-bottom: 40px;
}

.top-bar, .top-bar ul {
    background-color: white;
}

.grid-container {
    margin: 0 10%;
}

.menu a {
    color: #626262;
    padding: 0.7rem 1.5rem;
}

.newsletter {
    text-align: center;
    background-color: #F0F0F0;
    padding: 35px 25%;
}

.newsletter p {
    font-size: 1.5rem;
}

.first-post {
    margin-top: 75px;
}

.blog-post {
    margin: 0 10px;
}

.post-content img {
    padding: 30px 0;
}

.post-content p {
    margin: 0 2% 25px;
    font-style: italic;
}

.blog-post, .first-post, .newsletter, .buttonAlign {
    margin-bottom: 75px;
}

input[type=text] {
    background-color: #F0F0F0;
    border: none;
    box-shadow: none;
    border-bottom-style: solid;
}

::placeholder {
    color: black;
}

input[type=button] {
    border: solid black 1px;
    background-color: white;
    padding: 10px 25px;
}

input[type=button]:hover {
    color: white;
    background-color: black;
}

.buttonAlign {
    text-align: center;
}

.bottom-row, .like {
    background-color: #F0F0F0;
}

.bottom-row ul {
    list-style-type: none;
    padding: 30px 0;
}

.bottom-row li {
    display: inline;
    padding: 0 15px;
}

.bottom-row a {
    color: black;
}
